body {
    margin: 0;
    padding: 20px;
    color: white;
    font-size: 2em;
}

* {
    box-sizing: border-box;
}


clear:after {
    content: "";
    clear: both;
    display: block;
}

#slider {
    margin: 20px auto;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

#container {
    width: 1500px;
    height: 300px;
    margin-left: 0;
}

.slide {
    width: 500px;
    height: 300px;
    float: left;
}
